body {
    max-width: 650px;
    margin: 6rem auto;
    padding: 0 1rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

.headshot {
    width: 160px;
    height: 160px;
    display: block;
    margin-bottom: 2rem;
}
